*{
	margin: 0;
	padding: 0;
}
a{
	color: gray;
	text-decoration: none;
	font-size: 12px;
}

@mixin whb($width,$height,$background){
	width : $width;
	height : $height;
	background : $background;
}
li{
	list-style: none;
	float: left;
}
input{
	border: 1px solid gray;
}
